// Table
$bg_table : #fff;
$bg_col_hover : #e5e5e5;
$color_border : #d6d6d6;

// Rows
$bg_row_odd : rgba(0, 0, 0, .02);

$bg_row_hover : #d9edf3;

// Header
$bg_row_head : #fff;
$height_head : 34px;

.tTable {
	background      : $bg_table;
	border-collapse : collapse;
	border-spacing  : 0;
	width           : 100%;
	tr {
		height : 28px;
		&:nth-child(2n) {
			background : $bg_row_odd;
		}
		&:hover {
			background : $bg_row_hover;
		}
	}
	td {
		border   : 1px $color_border solid;
		padding  : 0 10px;
		position : relative;
	}
	a {
		text-decoration : none;
		color           : #1964c9;
		font-weight     : 600;
	}
}

tr.tTable-head {
	font-weight : 400;
	background  : $bg_row_head;
	color       : #696e78;
	font-size   : 11px !important;
	height      : $height_head !important;
	&:hover {
		background : $bg_row_head;
	}
	.tTable-sorting {
		opacity : 0;
	}
	.tTable-td-sorting {
		cursor : pointer;
	}
	//}
}

.tTable-col-hover {
	background : $bg_col_hover !important;
}

/*
 * Table sorting
 */

.tTable-td-sorted,
.tTable-sort-column {
	//background : #f8f8f8 !important;
	background : rgba(0, 0, 0, .02) !important;
}

.tTable-sorting {
	position    : absolute;
	right       : 0;
	top         : 0;
	height      : 100%;
	width       : 20px;
	font-weight : 400;
	cursor      : pointer;
	&[data-sort] {
		opacity : 1 !important;
		&[data-sort_type="asc"] .tTable-sorting-desc,
		&[data-sort_type="desc"] .tTable-sorting-asc {
			display : none;
		}

	}
}

.tTable-sorting-asc,
.tTable-sorting-desc {
	height   : 100%;
	position : relative;
	&:before {
		content                 : '';
		position                : absolute;
		width                   : 100%;
		height                  : 100%;
		left                    : 0;
		top                     : 0;
		text-align              : center;
		line-height             : 15px;
		font-size               : 15px;
		color                   : #464646;
		background-repeat       : no-repeat;
		background-position     : center center;
		background-image        : url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAASCAYAAABSO15qAAAAh0lEQVR4AWPABrZu3/MOB2ZAxyACG/6PDQ9mA0YNmAOSJBNPABnABsTHyNB8CKQX5hRJIH5MguYnQCyBHgbmQPydCM0/gdgSVyDGE2FABqFY6MejeS4x0cgMxHuwaD4NxBzEpgMRIL6DpPkVEMviT0iYWBeIvwDxHyB2wqUORODDwUBchE8NAIka4TnJA9HdAAAAAElFTkSuQmCC);
		-webkit-background-size : 9px 9px;
		-moz-background-size    : 9px 9px;
		background-size         : 9px 9px;
	}

}

.tTable-sorting-desc::before {
	-webkit-transform : rotate(180deg);
	-moz-transform    : rotate(180deg);
	transform         : rotate(180deg);
}

.tTable-number-bar {
	position   : absolute;
	width      : 5px;
	height     : 20px;
	background : #ccc;
}

.tTable-number-column {
	text-align : right;
	text-align : end;
	text-anchor: end;
}

.tTable-min-value,
.tTable-max-value {
	position   : absolute;
	left       : 0;
	top        : 0;
	z-index    : 100;
	background : #fff;
}

.tTable-pager {
	display    : block;
	height     : 30px;
	overflow   : hidden;
	background : rgba(0, 0, 0, .1);
}

/*
 * Table Arrows
 */

.tTable-pager-arrows {
	float        : left;
	height       : 30px;
	width        : 60px;
	line-height  : 30px;
	margin-right : 10px;
}

.tTable-pager-arrows-prev,
.tTable-pager-arrows-next {
	display     : inline-block;
	width       : 30px;
	height      : 30px;
	text-align  : center;
	position    : relative;
	overflow    : hidden;
	text-indent : 40px;
	background  : rgba(0, 0, 0, .1);
	&:hover {
		background : rgba(0, 0, 0, .2);
	}
	&:active {
		background : rgba(0, 0, 0, .3);
	}
	&:after {
		position    : absolute;
		left        : 0;
		top         : 0;
		text-indent : 0px;
		text-align  : center;
		width       : 100%;
		height      : 100%;
		font-size   : 30px;
		line-height : 25px;
		color       : #464646;
	}
}

.tTable-pager-arrows-next__disabled,
.tTable-pager-arrows-prev__disabled {
	opacity    : .5;
	background : rgba(0, 0, 0, .1) !important;
}

.tTable-pager-arrows-next:after {
	content : '\203A ';
}

.tTable-pager-arrows-prev:after {
	content : '\2039';
}

/*
 * Table Pages
 */

.tTable-pager-pages {
	float : left;
}

.tTable-pager-pages-item {
	float       : left;
	text-align  : center;
	padding     : 0 5px;
	background  : rgba(0, 0, 0, .1);
	height      : 30px;
	line-height : 30px;
	&:hover {
		background : rgba(0, 0, 0, .2);
	}
	&:active {
		background : rgba(0, 0, 0, .3);
	}
}

.tTable-pager-pages-item__on {
	background : rgba(0, 0, 0, .3);
}

/*
 * GOTO field
 */
.tTable-pager-goto {
	float       : right;
	width       : 30px;
	height      : 14px;
	margin      : 3px 5px;
	padding     : 4px 5px;
	line-height : 14px;
	border      : 1px rgba(0, 0, 0, .2) solid;
	text-align  : center;
	&:focus {
		outline      : none;
		border-color : rgba(0, 0, 0, .4);
	}
}

/*
 * Page size
 */
.tTable-pager-page_size {
	float  : right;
	height : 20px;
	margin : 5px;
}

/* tTable search */

.tTable-search-input {
	width     : 200px;
	padding   : 3px 10px;
	font-size : 13px;
}